body {
  height: 100%;
  background-image: url("../img/background_checkout.jpg");
  background-position: center;
  background-attachment: fixed;
}

header {
  background: rgba(210,74,136,0.9);
  padding: 5px;
  color: white;
  text-align: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

/* <CHECKOUT_CART> */
.item {
  background: rgba(33,126,255,0.89) !important;
  color: red !important;
}

#item-name {
  color: white;
  font-weight: bold;
}

#item-description {
  color: white;
}

#item-quantity {
  color: white;
  font-weight: bold;
}

#item-price {
  color: white;
  font-weight: bold;
}

#cart-total {
  background-image: url("../img/background_checkout.jpg");
  background-position: center;
  background-attachment: fixed;
}

#cart-total-subtotal {
  color:#423131;
  font-size: 1.3em;
  font-weight: bold;
}

#cart-total-hst {
  color: #423131;
  font-size: 1.3em;
  font-weight: bold;
}

#cart-total-amount {
  color: #423131;
  font-size: 1.3em;
  font-weight: bold;
}

.white-text {
  color: #423131;
  font-size: 1.3em;
  font-weight: bold;
}

button {
  font-size: 1.0em;
  background-color: rgba(248,220,74);
  border: none;
  color: #423131;
  padding: 10px 25px;
  text-align: center;
  cursor: pointer;
  float: left;
}

button:hover {
  background-color: #217eff;
  color: white;
}
/* </CHECKOUT_CART> */

/* Some hover features for footer */
footer {
  color: white;
  bottom: 0;
  left:0;
  right: 0;
  position: fixed;
  background: rgba(210,74,136,0.9);
  padding: 10px;
  text-align: center;
  font-size: 15px;
}

footer a:hover {
  color: #217eff;
}

footer a:active {
  /*text-decoration: none;*/
  color: #423131;
}

/* Navigation Dropdown Bar*/
ul {
  list-style-type: none;
  margin: 0px;
  padding: 8px;
  overflow: hidden;
  background: rgba(248,220,74,0.85);
}

li {
  float: left;
  color: #423131;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
}
